.htmlCadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(../img/pixel-city-chill.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  box-sizing: border-box;
}

.divEmail {
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.loginForm {
  margin: 0 1rem 0 1rem;
}

.registerContainer {
  width: 600px;
  border-radius: 5px;
  background: rgba(3, 3, 3, 0.663);
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.778);
  transition: linear;
}

.registerContainer h1 {
  font-family: "Open Sans Condensed", sans-serif;
  position: relative;
  padding-top: 11px;
  text-align: center;
  font-size: 40px;
  color: #ddd;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.433);
}

.registerContainer span {
  color: rgba(240, 248, 255, 0.631);
  border: none;
  background-color: rgba(0, 0, 0, 0.802) !important;
}

.registerContainer a,
.registerContainer input {
  background-color: rgba(0, 0, 0, 0.548) !important;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  text-decoration: none;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.637) !important;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgba(3, 3, 3, 0.213);
  border-top-right-radius: 0.4rem!important;
  border-bottom-right-radius: 0.4rem!important;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.registerContainer input:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  background: rgba(3, 3, 3, 0.18);
}

::-webkit-input-placeholder {
  color: #ddd;
}
:-moz-placeholder {
  color: red;
}
::-moz-placeholder {
  color: red;
}
:-ms-input-placeholder {
  color: #333;
}

.a {
  margin-bottom: 1.5rem !important;
  cursor: pointer;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.668);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.a:hover {
  opacity: 0.7;
}

.orange-btn {
  background: rgba(87, 198, 255, 0.5);
}

.registerContainer input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.622) !important;
}

.alertDark {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: rgba(227, 227, 227, 0.248);
  border: #000 solid 0.12rem;
  width: 100em;
  height: 50px;
}

.formError {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 10px rgb(255, 0, 0) !important;
  width: 544px;
  height: 42px;
  border-top-left-radius: 0.4rem !important;
  border-bottom-left-radius: 0.4rem !important;
  border-top-right-radius: 0.4rem!important;
  border-bottom-right-radius: 0.4rem!important;
  color: transparent;
  background-color: transparent;
}

.toCenter {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .formError {
    width: 427px;
  }

  .registerContainer {
    min-width: 484px !important;
    max-width: 484px !important;

    width: 484px;
    border-radius: 5px;
    background: rgba(3, 3, 3, 0.663);
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.778);
    transition: linear;
  }
}

@media screen and (min-width: 425px) and (max-width: 481px) {
  .formError {
    width: 342px;
  }

  .registerContainer {
    min-width: 400px !important;
    max-width: 400px !important;

    width: 400px;
    border-radius: 5px;
    background: rgba(3, 3, 3, 0.663);
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.778);
    transition: linear;
  }
}


@media screen and (min-width: 375px) and (max-width: 425px) {
  .formError {
    width: 344px;
  }

  .registerContainer {
    min-width: 400px !important;
    max-width: 400px !important;

    width: 400px;
    border-radius: 5px;
    background: rgba(3, 3, 3, 0.663);
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.778);
    transition: linear;
  }
}
@media screen and (min-width: 0px) and (max-width: 375px) {
  .formError {
    width: 265px;
  }

  .registerContainer {
    min-width: 320px !important;
    max-width: 320px !important;
    width: 320px;
    border-radius: 5px;
    background: rgba(3, 3, 3, 0.663);
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.778);
    transition: linear;
  }
}
