.card {
  height: 100px;
  width: 100%;
  background: rgba(29, 29, 30, 0.626);
  color: aliceblue;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.card strong {
  font-size: 18px;
}
