.bgBody {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(../img/pixel-city-chill.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  box-sizing: border-box;
}

.loginImg {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

.loginButton {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(3, 3, 3, 0.8);
  overflow: hidden;
  opacity: 0.4;
  box-shadow: 10px 10px 30px #000;
}

.loginContainer {
  width: 350px;
  align-items: center;
  justify-content: center;
  margin: 50px;
  border-radius: 5px;
  background: rgba(3, 3, 3, 0.689);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.778);
  display: flex;
  transition: linear;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.loginH1 {
  font-family: "Open Sans Condensed", sans-serif;
  position: relative;
  margin-top: 15px;
  text-align: center;
  font-size: 40px;
  color: #ddd;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.433);
}

.loginFormError {
  position: absolute;
  margin: 0 1.7rem 0 2.1rem;
  color: rgba(255, 59, 59, 0.835);
}

.loginContainer a,
.loginContainer input {
  font-family: "Open Sans Condensed", sans-serif;
  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 1.5rem auto auto auto;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.622);
  padding: 8px;
  border-radius: 6px;
  border: none;
  background-color: rgba(0, 0, 0, 0.47) !important;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.loginContainer ::placeholder {
  color: rgba(255, 255, 255, 0.622);
}

.loginContainer input:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  background: rgba(3, 3, 3, 0.18);
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.622);
}
:-moz-placeholder {
  color: rgba(255, 255, 255, 0.622);
}
::-moz-placeholder {
  color: rgba(255, 255, 255, 0.622);
}
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.622);
}

.a {
  cursor: pointer;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  padding: 4px 8px;
  margin-bottom: 2rem !important;
  background: rgba(0, 0, 0, 0.455) !important;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.a:hover {
  opacity: 0.7;
}

.rememberContainer {
  position: relative;
  margin: -5px 20px;
}

.checkbox {
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  padding: 5px;
  border-radius: 4px;
  background: rgba(3, 3, 3, 0.2);
  display: inline-block;
  width: 16px;
  height: 15px;
}

.checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
  background: rgba(3, 3, 3, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.5);
  color: #fff;
}

.checkbox:checked:after {
  content: "\2714";
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 4px;
  color: #fff;
}

.remember {
  font-weight: bold;
  position: absolute;
  font-size: 13px;
  font-family: "Hind", sans-serif;
  color: rgb(255, 255, 255);
  top: 7px;
  left: 20px;
}

.forgotten {
  position: absolute;
  font-size: 12px;
  font-family: "Hind", sans-serif;
  color: rgba(255, 255, 255, 0.2);
  right: 0px;
  top: 8px;
  cursor: pointer;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.forgotten:hover {
  color: rgba(255, 255, 255, 0.6);
}

.forgottenContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 260px;
  height: 180px;
  border-radius: 10px;
  background: rgba(3, 3, 3, 0.25);
  box-shadow: 1px 1px 50px #000;
  display: none;
}

.orangeBtn {
  background: rgba(87, 198, 255, 0.5);
}

.loginContainer input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.622) !important;
}
